/*regole generali*/
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", "Verdana";
}
/* fine regole generali*/

/*HEADER*/
header{
  height: 70vh;
  background-color: #0C325A;
  float left;
  color: #ffffff;
  background-image: url(../img/background-header.png);
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: 110% 100%;
}
.container{
  width: 85%;
  margin: auto;
}
.clearfix::after{
  content: "";
  display: table;
  clear: both;
}
/***navigation***/
header .navigation .col{
  float: left;
  margin-top: 16px;
}
header .navigation .logo{
  width: 13%;
}
header .navigation .menu-left{
  width: 47%;
}
header .navigation .menu-right{
  width: 40%;
  text-align: right;
}
header .navigation .menu{
  display: inline-block;
  margin-top: 16px;
}
header .navigation .menu li a{
  text-decoration: none;
  color: #ffffff;
  font-size: 15px;
  text-transform: uppercase;
  margin-left: 10px;
}
header .navigation .menu li a:hover{
  color: orange;
  border-color: orange;
}
header .navigation .menu li .login{
  border: 1px solid white;
  padding: 7px 12px;
}
header .navigation .menu li .item-green{
  padding: 7px 12px;
  background-color: lawngreen;
  border-radius: 5px;
}
ul li{
  list-style-type: none;
  display: inline-block;
  font
}
/***teaser***/
header .teaser{
  padding-top:10%;
}
header .teaser h1{
  font-weight: 700;
  font-size: 40px;
}
header .teaser a {
  margin-top: 40px;
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
  font-size: 15px;
  text-transform: uppercase;
  padding:12px 12px;
  background-color: lawngreen;
  border-radius: 5px;
}
/*FINE HEADER*/

/*INIZIO MAIN*/
/***linea***/
main .line{
  height: 20%;
  background-color: lightgrey;
}
main .container{
  padding: 20px;
}
main .container>*{
  text-align: center;
}
main .container h2{
  font-weight: 700;
  color: black;
}
main .container p.subheadline{
  color: grey;
}
/***bullets***/

main .bullets{
  width: 85%;
  margin:auto;
}
main .bullets .col{
  width: 375px;
  padding: 1%;
  text-align: center;
  float: left;
}
main .bullets .col img{
  height:100px;
}
main .bullets .col h3{
  color: lawngreen;
  padding-bottom: 5%;
}
main .bullets .col p{
  padding-top:5%;
  line-height: 25px;
  color: #777;
  font-size: 12px;
}
main .bullets .col hr.rule.text{
  width: 20%;
  margin:auto;
}
/***rule center***/
main hr.rule.center{
  width: 95%;
  margin: auto;
}
/***link***/
main .link{
  width: 85%;
  margin: auto;
}
main .link .col{
  width: 50%;
  float: left;
  padding-top: 5%;
}
main .link .col.right.discover,h3,p{
  padding-bottom: 2%;
  line-height: 25px;
}
main .link .col.right.discover h3{
  font-size: 25px;
}
main .link .col.right.discover p{
  color: #777;
  font-size: 13px;
}
main .link .col.right.discover a{
  font-size: 13px;
}
/*FINE MAIN*/

/*FOOTER*/
footer{
  background-color: lightgrey;
  height: 35vh;
}
footer .container{
  width: 85%;
}
/***colonna***/
footer .container .col{
  float: left;
}
footer .container .col{
  padding-top: 6%;
}
footer .container .col.left{
  width: 50%;
  font-size: 20px;
}
/***colonna centrale***/
footer .container .col.center{
  width: 25%;
  color: #777;
}
footer .container .col.center p{
  display: inline-block;
  padding:3%;
}
footer .container .col.center p.selector{
  border-bottom: 1px solid darkgray;
  padding-right: 35%;
}
footer .container .col.center p.arrow{
  border-bottom: 1px solid darkgray;
}
/***colonna destra***/
footer .container .col.right{
  width: 25%;
}
footer .container .col.right .button{
  text-align: center;
  color: white;
  background-color: lawngreen;
  text-transform: uppercase;
  border-radius: 5px;
}
footer .container .col.right .button.plan p{
  margin: 15px 12px;
}
footer .container .col.right .button.help p{
  margin: 7px 6px;
}
footer .container .col.right .button:hover{
  color: orange;
}
/*FINE FOOTER*/
